/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to bottom right, rgb(186, 186, 186),rgb(84, 84, 84)); */
    background: linear-gradient(to bottom left, #0C0032,#282828);
}

.content{
    width: 90%;
    margin: auto;
}
