header div{
  padding: 5px;
  /* background-color: #444; */
  background-color: #700542;
  
  border-radius: 20px 20px 0 0;
}

header h1{
    text-align: center;
    /* color: #ccc; */
    color: #FFF;
}
  
  
  